@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid crimson; */
    font-family: 'Manrope', sans-serif;
}

/* common */

.video{
    width: 50%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

.video video{
    width:80%;
}

/* navbar */

nav
{
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
}

.navbar i{
    display: none;
}


.filler{
    height: 64px;
    width: 100%;
}

.navbar{
    max-width: 1140px;
    height: 64PX;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.nav-links{
    margin-left: auto;
}

.navbar ul li{
    list-style: none;
    padding: 8px 20px;
    height: 100%;
    font-weight: 500;
}

.navbar img{
    height: 40px;
}

.navbar button{
    width: 85px;
    padding: 5px;
    color: white;
    background-color: #0093F7;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

/* container 1 */

.container-1{
    max-width: 1140px;
    margin: auto;
    padding: 30px 15px 100px 15px;
    margin-top: 35px;
    display: flex;
}

.text-1{
    width: 50%;
    padding: 0px 15px;
}

.text-1 img{
    max-width: 355px;
    margin-top: 12px;
}

.text-1 h2{
    font-size: 30px;
    font-weight: 500;
    padding: 8px 0px;
}

.text-1 h1{
    color: #0093F7;
    font-size: 56px;
    font-weight: 600;
}

.text-1 h4{
    color: #0093F7;
    padding: 8px 0px ;
    font-weight: 600;
    font-size: 17px;
}

.text-1 p{
    color: #2c2c2c;
    font-size: 18px;
    padding: 9px 15px 9px 1px;
    margin-top: 10px;
}

.text-1 button{
    width: 170px;
    padding: 8px;
    background-color: #0093F7;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

/* container 2 */

.container-2{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-2 h1{
    background: linear-gradient(92deg,#217ee6 3%,#3187d5 44%,#69a798 70%,#fcf2a6 95%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 65px;
    font-weight: 500;
    margin-top: 60px;
} 

.container-2 ul{
    color: white;
    list-style: none;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 0px;
}

.container-2 h1{
    text-align: center;
}

.container-2 ul li{
    text-align: center;
}

/* board */

.board-cont:nth-child(even){
    width: 100%;
    background-color: #F2F2F2;
}


.board-e{
    max-width: 1140px;
    margin: auto;
    display: flex;
    padding: 70px 0px;
}

.board-o{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 70px 0px;
}

.board-e-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board-o-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.board-e-text img{
    width: 70px;
    margin-top: 30px;
}

.board-o-text img{
    width: 70px;
    margin-top: 30px;
}

.board-e-text p{
    text-align: right;
    font-size: 25px;
    color: grey;
}

.board-o-text p{
    text-align: left;
    font-size: 25px;
    color: grey;
}

.board-e-text h1{
    font-size: 55px;
    text-align: right;
}

.board-o-text h1{
    font-size: 55px;
    text-align: left;
}

.board-cont:nth-child(6) img{
    width: 10px;
}

#gif{
    width: 50%;
}

/* Blog Section */

.blog-section{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.blog-section h1{
    text-align: center;
    font-size: 4em;
    margin-top: 35px;
}

.blog-section h1 span{
    color: #0093F7;
}

.blog-section h5{
    font-size: 1.25em;
    margin-left: 20px;
}

.blog-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 15px 30px;
}

.card img{
    width: 100%;
    border-radius: 13px;
    box-shadow: 0 0 3px rgba(0,0,0,.16);
}

.blog-section button{
    width: 130px;
    font-size: 17px;
    font-weight: 500;
    margin: auto;
    padding: 8px;
    color: white;
    background-color: #217ee6;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

.blog-section button:hover{
    background-color: #0187e0;
}

.card p{
    color: #646464;
}

.card p:nth-child(2){
    font-size: 13px;
    padding: 3px;
    margin-top: 10px;
}

.card p:nth-child(3){
    font-size: 17px;
    padding: 3px;
    font-weight: 500;
}

/* banking partner */

.bank-container{
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.banking-partners{
    max-width: 1140px;
    margin: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.banking-partners h1{
    text-align: center;
    font-size: 4em;
    margin-top: 35px;
}

.banking-partners p{
    font-size: 1.5em;
    text-align: center;
    padding: 20px 40px;
    color: #646464;
}

.banking-partners img{
    width: 30%;
}

/* investors */

.investors{
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.investors h1{
    text-align: center;
    font-size: 4em;
    margin-top: 35px;
}

.investors p{
    font-size: 1.5em;
    text-align: center;
    padding: 20px 40px;
    color: #646464;
}

.investor-cards{
    display: flex;
    flex-wrap: wrap;
}

.inv-card{
    flex: 1;
    text-align: center;
}

/* social footer */

.social-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C161B;
    padding: 30px;
}

#white-logo{
    width: 80px;
}

.craft{
    width: 27%;
    background-color: black;
    color: white;
    font-size: 19px;
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    margin-top: 25px;
}

.social-footer h2{
    color: #0093F7;
    font-size: 2.2em;
    margin-top: 35px;
}

.social-footer p{
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin-top: 35px;
}

.social-footer h5{
    font-size: 1.3em;
    color: white;
    text-align: center;
    margin-top: 55px;
}

.social-logo img{
    margin: 7px;
    margin-top: 45px;
}

/* footer links */

.footer-links-cont{
    background-color: #0C161B;
}


.footer-links{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    /* border: 1px solid crimson; */
}

.col{
    /* border: 1px solid green; */
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.col ul li{
    list-style: none;
    color: white;
    color: #0093F7;
    font-size: 17px;
}

.col ul li:hover{
    color: #4fb8fd;
    text-decoration: underline;
    cursor: pointer;
}

.col h5{
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

/* footer images */

.footer-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bank{
    max-width: 300px;
}

#iso{
    width: 50px;
    margin-top: 30px;
}

.footer-images h4{
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
















/* RESPONSIVE */

@media(max-width : 1024px){

    .nav-links{
        display: none;
    }

    .navbar i{
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

}

@media(max-width:768px){

    .container-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-1{
        width: 80%;
    }

    .video{
        width: 70%;
        padding: 0px 15px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .video video{
        width: 100%;
        margin-top: 20px;
        
    }

    .text-1 img{
        width: 50%;
    }

    .board-o{
        display: flex;
        flex-direction: column-reverse;
    }

    .board-e{
        display: flex;
        flex-direction: column;
    }

    .board-e-text{
        width: 100%;
        padding: 0 20px;
    }

    .board-o-text{
        width: 100%;
        padding: 0 20px;

    }

    #gif{
        width: 100%;
    }




}
